<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedRecipe.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 0px;">
     <ion-row>
       <ion-col style="padding: 0px;">
        <ion-img [src]="loadedRecipe.imageUrl" class="recipeImage"></ion-img>
       </ion-col>
     </ion-row>
     <ion-row>
       <h1 text-center>{{ loadedRecipe.title }}</h1>
     </ion-row>
     <ion-row>
       <ion-col>
         <ion-list>
           <ion-item *ngFor="let ig of loadedRecipe.ingredients">
             {{ ig }}
           </ion-item>
         </ion-list>
       </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>
